.form {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  max-width: 377px;
}

.letters {
  padding: 0;
  margin: 120px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  gap: 16px;
}