.form {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  max-width: 377px;
}

.numbers {
  margin: 120px auto 0;
  padding: 0;
  display: flex;
  justify-content: left;
  flex-direction: row;
  list-style-type: none;
  gap: 16px;
  max-width: 944px;
  flex-wrap: wrap;
  row-gap: 48px;
}